@use "abstracts" as var;
@use "base";
@use "components";
@use "layouts";

body {
  position: relative;
  overflow-x: hidden !important;

  &.no-scroll {
    overflow: hidden;
  }
}

main,
header {
  overflow-x: clip;
}
