@use "../abstracts" as var;

footer {
  background: var.$mediumOrange;
  padding-block: 2.9rem 2rem;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.4rem;
    max-width: 75%;
    margin: 0 auto;
    position: relative;
  }
}

.footer__menu-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;

  @include var.breakpoint(tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    align-items: center;
    gap: 3.5rem;
  }

  @include var.breakpoint(820px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h3 {
    font-size: 1.8rem;
    font-weight: var.$black;
    font-family: var.$avenirRegular;
    color: white;
    text-align: start;
    margin-bottom: 0.8rem;

    @include var.breakpoint(mini) {
      text-align: center;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.6rem;

    @include var.breakpoint(mini) {
      align-items: center;
    }

    li {
      @include var.breakpoint(mobile) {
        margin-block: 0.5rem;
        padding-block: 0.6rem;
      }
    }

    &:not(#instagram) {
      margin-left: 1em;
    }
  }

  ul a {
    font-size: 1.8rem;
    font-weight: var.$light;
    font-family: var.$avenirLight;
    color: white;
    text-decoration: none;
    text-align: center;
  }
}

.footer__bottom {
  p,
  a {
    font-size: 1.4rem;
    font-weight: var.$normal;
    font-family: var.$avenirRegular;
    color: white;
    text-decoration: none;
  }
}

.footer-leaf {
  position: absolute;
  width: 95px;
  height: 192px;
  right: 0;
  bottom: -10%;
  background: url("../img/footer-leaf.svg") no-repeat;

  @include var.breakpoint(mobile) {
    display: none;
  }
}
