@use "../abstracts" as var;

header {
  position: relative;
  z-index: 100;
  .container-narrow {
    display: grid;
    grid-template-columns: 1fr 212px 1fr;
    justify-items: center;
    align-items: start;

    @include var.breakpoint(1324px) {
      grid-template-columns: 0.8fr 160px 1fr;
    }

    @include var.breakpoint(tablet) {
      grid-template-columns: 1fr 160px 1fr;
    }

    @include var.breakpoint(900px) {
      grid-template-columns: 1fr 1fr;
    }
  }
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 1.4rem;
  width: 100%;
  height: 104px;
  background: white;
  transition: transform 2s ease-in-out;

  &.transform {
    transform: scale(2) translateY(30%);
    z-index: 100;
  }

  &.no-background {
    background: none;
  }

  div.background {
    background: white;
    position: absolute;
    margin: auto;
    width: 212px;
    height: 212px;
    z-index: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }

  a {
    position: absolute;
    z-index: 1;
    top: 10%;
  }
}

#left-nav {
  background: white;
  padding-block: 4.2rem 2.9rem;
  width: 100%;
  max-height: 104px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;

  &.hide {
    opacity: 0;
    pointer-events: none;
  }

  @include var.breakpoint(900px) {
    display: none;
  }

  ul {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 8.4rem;

    @include var.breakpoint(1184px) {
      gap: 4.4rem;
    }

    li {
      a {
        color: var.$gray;
        font-size: 2.2rem;
        font-weight: 400;
        font-family: var.$gallery;
        text-decoration: none;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: var.$mediumOrange;
        }
      }
    }

    li:last-of-type {
      margin-right: 8rem;

      @include var.breakpoint(1184px) {
        margin-right: 4rem;
      }
    }
  }
}

#right-nav {
  background: white;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-block: 4.2rem 2.9rem;
  width: 100%;
  max-height: 104px;
  opacity: 1;
  transition: opacitty 0.3s ease-in-out;

  &.hide {
    opacity: 0;
  }

  @include var.breakpoint(900px) {
    display: none;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8.4rem;

    @include var.breakpoint(1184px) {
      gap: 4.4rem;
    }

    li {
      a {
        color: var.$gray;
        font-size: 2.2rem;
        font-weight: 400;
        font-family: var.$gallery;
        text-decoration: none;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: var.$mediumOrange;
        }
      }
    }

    li:first-of-type {
      margin-left: 8rem;

      @include var.breakpoint(1184px) {
        margin-left: 4rem;
      }
    }
  }
}

.search-container {
  @include var.breakpoint(tablet) {
    display: none;
  }
}

#search-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;

  @include var.breakpoint(tablet) {
    display: none;
  }

  input {
    border: none;
    border-bottom: 1px solid var.$gray;
    font-size: 1.8rem;
    color: var.$gray;
    font-family: var.$gallery;
    max-width: 116px;
  }

  button {
    background: none;
    border: none;
    margin-left: 1rem;
    cursor: pointer;
  }
}

.mobile-menu-nav {
  display: none;
  justify-content: center;
  align-items: center;

  .search-container,
  #search-header {
    display: flex !important;
  }

  @include var.breakpoint(900px) {
    display: flex;
    background: white;
    width: 100%;
    height: 100%;

    .menu-nav-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.3rem;
      cursor: pointer;
      position: relative;
      z-index: 99;

      .menu-nav-bar {
        background: var.$mediumOrange;
        width: 35px;
        height: 4px;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
      }

      &.burger-active {
        .menu-nav-bar:nth-child(1) {
          transform: rotate(45deg) translate(5px, 5px);
        }

        .menu-nav-bar:nth-child(2) {
          opacity: 0;
        }

        .menu-nav-bar:nth-child(3) {
          transform: rotate(-45deg) translate(5px, -5px);
        }
      }
    }
  }
}

#nav-mobile {
  position: absolute;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  background: white;
  transition: 0.8s ease-in-out;
  align-self: start;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 100%;
    gap: 2rem;

    li a {
      font-family: var.$gallery;
      color: var.$gray;
      font-size: 2.2rem;
      text-decoration: none;
      transition: 0.3s ease-in-out;

      &:hover {
        color: var.$mediumOrange;
      }
    }
  }

  &.show {
    transform: translateX(-25%);
  }
}
