@use "../abstracts" as var;

header {
  position: relative;
  z-index: 100;
  .container-narrow {
    display: grid;
    grid-template-columns: 1fr 212px 1fr;
    justify-items: center;
    align-items: start;

    @include var.breakpoint(1495px) {
      grid-template-columns: 0.8fr 212px 1fr;
    }

    @include var.breakpoint(1324px) {
      grid-template-columns: 0.8fr 212px 1fr;
    }

    @include var.breakpoint(1230px) {
      grid-template-columns: 1fr 212px 1fr;
    }

    @include var.breakpoint(mini) {
      grid-template-columns: 0.7fr 143px 0.7fr;
    }
  }
}

#shop-link__container {
  display: none;
  position: relative;
  z-index: 3;

  @include var.breakpoint(1230px) {
    display: block;
    align-self: center;
    justify-self: center;

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      background: transparent;
      border: none;
      border-radius: 0;
      padding: 0 !important;
      color: var.$gray;
      margin-top: 0;
      font-size: 1.8rem;
      font-family: var.$avenirLight;
      font-weight: var.$light;
      text-align: left;
      text-transform: uppercase;
      line-height: 1;

      @include var.breakpoint(360px) {
        font-size: 1.4rem;
      }

      .le-shop {
        font-weight: var.$black;
        font-family: var.$avenirRegular;
        font-size: 2.3rem;
        letter-spacing: 2px;

        @include var.breakpoint(360px) {
          font-size: 1.8rem;
        }
      }

      .shop {
        color: var.$mediumOrange;
      }
    }
  }
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 1.4rem;
  width: 100%;
  z-index: 3;
  height: 104px;
  background: white;
  transition: transform 2s ease-in-out;

  @include var.breakpoint(mini) {
    height: 90px;
  }
  &.transform {
    transform: scale(2) translate3d(0, 30%, 0);
    z-index: 100;
  }

  &.no-background {
    background: none;
  }

  div.background {
    background: white;
    position: absolute;
    margin: auto;
    width: 212px;
    height: 212px;
    z-index: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;

    @include var.breakpoint(mini) {
      width: 120px;
      height: 120px;
    }
  }

  a {
    position: absolute;
    z-index: 1;
    top: 10%;

    img {
      position: relative;
      z-index: 1;
    }

    @include var.breakpoint(mini) {
      max-height: 90px;

      img {
        max-height: 90px;
      }
    }
  }
}

#left-nav {
  background: white;
  padding-block: 4.2rem 2.9rem;
  width: 100%;
  max-height: 104px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;

  &.hide {
    opacity: 0;
    pointer-events: none;
  }

  @include var.breakpoint(1230px) {
    display: none;
  }

  ul {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 8.4rem;

    @include var.breakpoint(1750px) {
      gap: 4.4rem;
    }

    @include var.breakpoint(1495px) {
      justify-content: center;
    }

    li {
      &:first-of-type a {
        color: var.$mediumOrange !important;

        &:hover {
          color: var.$gray !important;
        }
      }

      a {
        color: var.$gray;
        font-size: 2.2rem;
        font-weight: 400;
        font-family: var.$gallery;
        text-decoration: none;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: var.$mediumOrange;
        }
      }
    }

    li:last-of-type {
      margin-right: 8rem;

      @include var.breakpoint(1495px) {
        margin-right: 1rem;
      }
    }
  }
}

#right-nav {
  background: white;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-block: 4.2rem 2.9rem;
  width: 100%;
  max-height: 104px;
  opacity: 1;
  transition: opacitty 0.3s ease-in-out;

  &.hide {
    opacity: 0;
  }

  @include var.breakpoint(1230px) {
    display: none;
  }

  ul {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8.4rem;
    position: relative;
    width: 100%;

    @include var.breakpoint(1750px) {
      gap: 4.4rem;
    }

    @include var.breakpoint(1184px) {
      gap: 4.4rem;
    }

    li {
      a {
        color: var.$gray;
        font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (1920 - 320)));
        font-weight: 400;
        font-family: var.$gallery;
        text-decoration: none;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: var.$mediumOrange;
        }
      }
    }

    li:first-of-type {
      margin-left: 5rem;

      @include var.breakpoint(1495px) {
        margin-left: 1rem;
      }

      @include var.breakpoint(1357px) {
        margin-left: 4rem;
      }
    }
  }
}

.search-container {
  @include var.breakpoint(tablet) {
    display: none;
  }
}

#search-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;

  @include var.breakpoint(tablet) {
    display: none;
  }

  input {
    border: none;
    border-bottom: 1px solid var.$gray;
    font-size: 1.8rem;
    color: var.$gray;
    font-family: var.$gallery;
    max-width: 116px;
  }

  button {
    background: none;
    border: none;
    margin-left: 1rem;
    cursor: pointer;
  }
}

.mobile-menu-nav {
  display: none;
  justify-content: center;
  align-items: center;

  .search-container,
  #search-header {
    display: flex !important;
  }

  @include var.breakpoint(1230px) {
    display: flex;
    background: white;
    width: 100%;
    height: 100%;

    .menu-nav-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.3rem;
      cursor: pointer;
      position: relative;
      z-index: 99;

      .menu-nav-bar {
        background: var.$mediumOrange;
        width: 35px;
        height: 4px;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
      }

      &.burger-active {
        .menu-nav-bar:nth-child(1) {
          transform: rotate(45deg) translate(5px, 5px);
        }

        .menu-nav-bar:nth-child(2) {
          opacity: 0;
        }

        .menu-nav-bar:nth-child(3) {
          transform: rotate(-45deg) translate(5px, -5px);
        }
      }
    }
  }
}

#nav-mobile {
  position: absolute;
  width: 100%;
  height: 100vh;
  transform: translate3d(100%, 0, 0);
  background: white;
  transition: 0.8s ease-in-out;
  align-self: start;
  inset: 0;
  z-index: 2;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    list-style: none;
    height: 100%;
    gap: 2rem;
    max-width: 90%;
    margin: 14rem auto 0 auto;

    li a {
      font-family: var.$gallery;
      color: var.$gray;
      font-size: 4rem;
      text-decoration: none;
      transition: 0.3s ease-in-out;

      @include var.breakpoint(336px) {
        font-size: 3rem;
      }

      &:hover {
        color: var.$mediumOrange;
      }
    }

    .search-container {
      width: 100%;
    }

    #search-header {
      width: 100%;

      label {
        width: 100%;
      }

      input {
        max-width: 100%;
        width: 100%;
      }
    }
  }

  &.show {
    transform: translate3d(0, 0, 0);
  }
}

.shop-nav-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  border: none !important;
  padding: 0 !important;
  background: transparent !important;
  position: absolute;
  width: fit-content;
  height: fit-content;
  right: 1.5em;
  top: -2.5em;
  gap: 0.6rem;

  @include var.breakpoint(1230px) {
    position: initial;
    margin-top: 1em;
    align-self: center;
  }

  &:hover {
    background: transparent !important;
    border: none !important;
  }

  a {
    width: 71px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 36px;
    height: 36px;
  }

  a:first-child {
    background: url("../img/background-account.svg") no-repeat center;
    background-size: contain;
  }

  a:nth-child(2) {
    background: url("../img/background-panier.svg") no-repeat center;
    background-size: contain;
  }
}
