@use "../abstracts" as var;

#questionnaire {
  .hero-banner {
    background: url("../img/page-banner.jpg") no-repeat;
    background-size: 100% 359px;
    height: 359px;
    position: relative;

    @include var.breakpoint(mini) {
      height: auto;
      padding-block: 5rem;
      background-size: cover;
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 75%;
      margin: 0 auto;
    }

    h1 {
      font-size: 4.6rem;
      font-weight: 400;
      font-family: var.$gallery;
      color: white;
    }

    img {
      width: 33px;
      height: 33px;
      margin-bottom: 1.2rem;
    }

    p {
      font-size: 1.8rem;
      font-weight: var.$light;
      font-family: var.$avenirLight;
      max-width: 780px;
      margin: 0 auto;
    }

    .leaf {
      width: 216px;
      height: 245px;
      position: absolute;
      top: 30%;
      left: -2%;

      @include var.breakpoint(tablet) {
        display: none;
      }

      img {
        width: 216px;
        height: 245px;
      }
    }
  }

  article {
    margin-top: 4.3rem;
    .container {
      max-width: 75%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include var.breakpoint(tablet) {
        max-width: 90%;
      }
    }
  }

  h2 {
    font-size: 4rem;
    font-weight: 400;
    font-family: var.$gallery;
    margin-bottom: 3.6rem;
  }

  .familles-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.8rem;

    @include var.breakpoint(laptop) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      place-items: center;
    }

    button {
      background: transparent;
      border: 1px solid var.$gray;
      border-radius: 10px;
      font-size: 1.9rem;
      font-weight: var.$normal;
      font-family: var.$avenirRegular;
      color: var.$gray;
      padding: 2rem 2.5rem;
      transition: 0.3s ease-in-out;

      @include var.breakpoint(mini) {
        font-size: 1.6rem;
        padding-inline: 1rem;
      }

      &.active {
        background: var.$mediumOrange;
        color: white;
        border-color: var.$mediumOrange;
      }

      &:hover {
        background: var.$mediumOrange;
        color: white;
        border-color: var.$mediumOrange;
      }
    }
  }

  .familles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1.6rem;

    .famille {
      background: var.$mediumOrange;
      color: white;
      display: none;
      justify-content: start;
      align-items: center;
      gap: 2.9rem;
      padding: 5.3rem 8.4rem;
      border-radius: 10px;
      width: 100%;

      @include var.breakpoint(mobile) {
        flex-direction: column;
        justify-content: center;
        padding-inline: 4.4rem;
      }

      @include var.breakpoint(mini) {
        padding-inline: 2.4rem;
      }

      &.active {
        display: flex;
      }

      img {
        max-width: 81px;
      }

      p {
        font-size: 1.9rem;
        font-weight: var.$normal;
        font-family: var.$avenirRegular;
      }
    }
  }

  .questionnaire-content {
    margin-top: 2rem;
  }

  .question-part {
    background: var.$lightOrange;
    width: 100%;
    padding-block: 5.2rem 7.4rem;
    margin-top: 4.2rem;

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 40%;
      margin: 0 auto;

      @include var.breakpoint(tablet) {
        max-width: 75%;
      }

      @include var.breakpoint(mobile) {
        max-width: 90%;
      }
    }

    h2 {
      font-size: 4rem;
      color: var.$gray;
      font-weight: 400;
      font-family: var.$gallery;
    }
  }

  .questions-container {
    margin-top: 4.2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    h3 {
      font-size: 1.8rem;
      color: var.$gray;
      font-weight: var.$black;
      font-family: var.$avenirRegular;
      margin-bottom: 2.1rem;
    }

    .choices {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 1.1rem;
    }

    .choice {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.9rem;
    }

    input {
      -webkit-appearance: none;
      appearance: none;
      min-width: 19px;
      min-height: 19px;
      border: 1px solid var.$mediumOrange;
      border-radius: 50%;
      background: white;
      color: var.$mediumOrange;
      display: grid;
      place-content: center;

      &::before {
        content: "";
        min-width: 0.65em;
        min-height: 0.65em;
        border-radius: 50%;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em var.$mediumOrange;
      }

      &:checked::before {
        transform: scale(1);
      }
    }

    label {
      font-size: 1.8rem;
      color: var.$gray;
      font-weight: var.$light;
      font-family: var.$avenirLight;
    }
  }

  .validate {
    margin: 4.5rem auto 0 auto;
    align-self: center;
    font-size: 2.7rem;
    font-weight: var.$light;
    font-family: var.$avenirLight;
    color: var.$mediumOrange;
    background: white;
    border-radius: 10px;
    border: 1px solid white;
    transition: 0.3s ease-in-out;
    padding: 1.6rem 9.9rem;

    &:hover {
      background: transparent;
      border: 1px solid var.$mediumOrange;
      color: var.$mediumOrange;
    }
  }

  .result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .loading {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.4rem;

      strong {
        font-size: 2.4rem;
        font-weight: var.$black;
        font-family: var.$avenirRegular;
        color: var.$gray;
        text-align: center;
      }

      p {
        font-size: 1.8rem;
        font-weight: var.$light;
        font-family: var.$avenirLight;
        color: var.$gray;
        text-align: center;
      }
    }

    .texte-return-product {
      font-size: 1.8rem;
      text-align: center;
      font-weight: var.$light;
      font-family: var.$avenirLight;
      color: var.$gray;
    }
  }

  .lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }

  .product-list {
    .product {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(3, 294px);
      place-content: center;
      gap: 4.2rem;
      margin-top: 1.2rem;

      @include var.breakpoint(tablet) {
        grid-template-columns: repeat(2, 294px);
      }

      @include var.breakpoint(mobile) {
        grid-template-columns: 294px;
      }
    }

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .product-container {
      background: transparent;
      border: 1px solid white;
      border-radius: 38px;
      width: 100%;
      transition: 0.3s ease-in-out;

      &:hover {
        background: white;
      }

      .product-image,
      .product-image img {
        display: block;
        border-radius: 38px;
        width: 100%;
      }
    }

    .product-content {
      margin-block: 2rem 1.9rem;
      padding-inline: 1.7rem;
      max-width: 259px;

      h4 a {
        font-size: 1.9;
        color: var.$gray;
        font-weight: var.$normal;
        font-family: var.$avenirRegular;
        text-align: left;
        width: 100%;
        text-decoration: none;
        transition: 0.3s ease-in-out;

        &:hover {
          color: var.$mediumOrange;
        }
      }
    }
  }

  .product-price {
    text-align: center;
    font-size: 3.2rem;
    font-weight: var.$black;
    font-family: var.$avenirRegular;
    color: var.$gray;
    margin-top: 2.3rem;
    display: flow-root;
  }

  .no-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h5 {
      font-size: 2.5rem;
      font-weight: 400;
      font-family: var.$gallery;
      text-align: center;
      color: var.$gray;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.8rem;
      text-align: center;
      font-weight: var.$light;
      font-family: var.$avenirLight;
      color: var.$gray;
    }

    .button {
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;

      a {
        font-size: 1.8rem;
        font-weight: var.$light;
        font-family: var.$avenirLight;
        transition: all 0.3s ease-in-out;
        text-decoration: none;

        &.btn-accueil {
          background: var.$mediumOrange;
          color: white;
          border: 1px solid var.$mediumOrange;
          border-radius: 10px;
          padding: 1rem 2rem;

          &:hover {
            background: transparent;
            border-color: var.$gray;
            color: var.$gray;
          }
        }

        &.btn-shop {
          background: transparent;
          border: 1px solid var.$gray;
          border-radius: 10px;
          padding: 1rem 2rem;
          color: var.$gray;

          &:hover {
            background: var.$mediumOrange;
            color: white;
            border-color: var.$mediumOrange;
          }
        }
      }
    }
  }
}
