@use "../abstracts" as var;

#shop-categories {
  width: 100%;
  background: white;
  padding-block: 4rem 3.7rem;

  .container-narrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h2 {
    color: black;
    font-size: 4.6rem;
    font-weight: 400;
    font-family: var.$gallery;
    text-align: center;
    margin-bottom: 1.8rem;
  }

  p {
    font-size: 1.8rem;
    font-weight: var.$light;
    font-family: var.$avenirLight;
    color: var.$gray;
    text-align: center;
    max-width: 780px;
    margin: 0 auto 3.5rem auto;
  }

  .categories-container {
    width: 100%;
    margin: 0 !important;
    display: grid;
    grid-template-columns: repeat(5, 233px);
    column-gap: 7rem;
    place-content: center;

    @include var.breakpoint(1485px) {
      grid-template-columns: repeat(4, 233px);

      li:last-of-type {
        grid-column: 1 / 5;
      }
    }

    @include var.breakpoint(1143px) {
      grid-template-columns: repeat(3, 233px);
      gap: 2.5rem;

      li:nth-last-of-type(1) {
        grid-column: 1 / 3;
        width: 50%;
        margin-inline: auto;
        grid-row: 2;
      }

      li:last-of-type {
        grid-column: 2 / 4;
        width: 50%;
        margin-inline: auto;
        grid-row: 2;
      }
    }

    @include var.breakpoint(743px) {
      grid-template-columns: repeat(2, 233px);

      li:nth-last-of-type(1) {
        grid-column: auto;
        width: 100%;
        margin-inline: auto;
        grid-row: auto;
      }

      li:last-of-type {
        grid-column: 1 / 3;
        width: 100%;
        margin-inline: auto;
        grid-row: auto;
      }
    }

    @include var.breakpoint(mini) {
      grid-template-columns: 233px;

      li:last-of-type {
        grid-column: 1;
      }
    }
  }

  .category a {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: var.$gray;
    font-size: 1.9rem;
    font-weight: var.$normal;
    font-family: var.$avenirRegular;
    text-decoration: none;
    text-align: center;
    transition: color 0.5s ease-in-out;

    .circle-img {
      width: 133px;
      height: 133px;
      border-radius: 50%;
      border: 1px solid var.$darkOrange;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    img {
      width: 119px;
      height: 119px;
      border-radius: 50%;
      position: relative;
      z-index: 1;
    }

    .category__background {
      position: absolute;
      inset: 0;
      border-radius: 48%;
      width: 100%;
      height: 100%;
      background: var.$darkOrange;
      transform: scale(0.9);
      transition: transform 0.5s ease-in-out;
    }

    &:hover {
      color: var.$darkOrange;

      .category__background {
        transform: scale(1);
        z-index: 0;
      }
    }
  }
}
