@use "../abstracts" as var;

#not-found {
  padding-top: 8rem;
  width: 100%;
  height: 100%;
  background: #fcf0f0;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 75%;
    margin: 0 auto;

    @include var.breakpoint(mini) {
      max-width: 98%;
    }

    .title {
      width: 400px;
      height: 425px;
      margin: 0 auto;
      position: relative;

      @include var.breakpoint(mini) {
        max-width: 300px;
        max-height: 325px;
      }
    }
  }

  #space-ship {
    transition: 1s ease-in-out;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &.vanish {
      opacity: 0;
    }
  }

  strong {
    color: var.$gray;
    font-size: 3rem;
    font-weight: var.$black;
    font-family: var.$avenirRegular;
    text-align: center;
  }
}

#mulder-scully,
#mib-ending {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  transition: 1.5s ease-in-out;

  &.show {
    opacity: 1;
  }
}

#mulder,
#scully,
#mib {
  display: inline-block;
  transition: all 1s ease-in-out;
  cursor: pointer;

  &.vanish {
    opacity: 0;
  }

  &.active {
    animation: horizontal-shaking 0.3s infinite;
  }
}

a {
  color: var.$darkOrange;
  transition: 0.3s ease-in-out;

  &:hover {
    color: var.$gray;
  }
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
