@use "../abstracts" as var;

body.no-scroll {
  overflow: hidden;
}

#front-page {
  position: relative;

  #white-opener {
    background: white;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.6;
    z-index: 99;
    transition: all 2s ease-in-out;

    &.anim {
      height: 0;
    }

    &.remove {
      display: none;
    }
  }

  .hero-banner {
    background: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 80vh;
    place-items: center;
    gap: 0;
    position: relative;

    @include var.breakpoint(1400px) {
      grid-template-rows: auto;
    }

    @include var.breakpoint(839px) {
      grid-template-columns: 1fr;
      grid-template-rows: 300px 300px;
    }

    @include var.breakpoint(385px) {
      grid-template-rows: 450px 450px;
    }

    .leaf-hero {
      background: url("../img/top-leaf.svg") no-repeat;
      width: 216px;
      height: 245px;
      position: absolute;
      left: -2%;
      top: 5%;

      @include var.breakpoint(laptop) {
        display: none;
      }
    }

    .leaf-bottom-image {
      background: url("../img/leaf-black.svg") no-repeat;
      width: 101px;
      height: 109px;
      position: absolute;
      right: -0.8%;
      bottom: -3%;

      @include var.breakpoint(839px) {
        display: none;
      }
    }
  }

  .separator {
    position: absolute;
    z-index: 2;
    bottom: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;

    @include var.breakpoint(885px) {
      bottom: 5%;
    }

    @include var.breakpoint(565px) {
      display: none;
    }

    .line {
      width: 393px;
      background: white;
      height: 4px;
      border-radius: 10px;
    }

    .dot {
      background: white;
      width: 12px;
      height: 12px;
      border-radius: 50%;
    }
  }

  .left-side {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include var.breakpoint(839px) {
      grid-row: 2;
    }
  }

  .slogan__container-left {
    position: relative;
    height: fit-content;
    width: fit-content;

    img {
      position: absolute;
      width: 33px;
      height: 33px;
      bottom: 10%;
      right: -5%;

      @include var.breakpoint(620px) {
        display: none;
      }
    }
  }

  .container-left {
    margin: 0 auto;
    max-width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    @include var.breakpoint(1301px) {
      max-width: 80%;
      align-items: center;
    }

    @include var.breakpoint(565px) {
      max-width: 95%;
    }

    h2 {
      font-weight: 400;
      font-family: var.$gallery;
      color: white;
      margin-top: 0;
      text-align: left;
      font-size: 4.6rem;

      @include var.breakpoint(1147px) {
        font-size: 3.6rem !important;
      }

      @include var.breakpoint(mobile) {
        text-align: center;
      }
    }

    .content {
      margin-block: 0;
    }
  }

  h1 {
    font-size: 4.6rem;
    color: white;
    font-weight: 400;
    font-family: var.$gallery;
    margin-bottom: 0;

    @include var.breakpoint(1147px) {
      font-size: 3.6rem;
      text-align: center;
    }
  }

  .right-side {
    width: 100%;
    height: 100%;

    @include var.breakpoint(839px) {
      grid-row: 1;
    }

    img {
      width: 100%;

      @include var.breakpoint(839px) {
        height: 100%;
        object-fit: cover;
        object-position: top center;
      }
    }
  }
}
