@use "../abstracts" as var;

#guides-conseils {
  .hero-banner {
    position: relative;
    background: transparent;
    padding: 6.3rem 3.4rem;

    .leaf {
      position: absolute;
      top: 20%;
      left: -3%;

      @include var.breakpoint(mobile) {
        display: none;
      }
    }

    .container {
      max-width: 75%;
      margin: 0 auto;
    }

    h1 {
      color: black;
      text-align: center;
    }

    p {
      font-size: 1.8rem;
      color: var.$gray;
      font-weight: var.$light;
      font-family: var.$avenirLight;
      text-align: center;
      display: block;
      max-width: 780px;
      margin: 1.8rem auto 0 auto;
    }
  }

  .specifiques {
    background: var.$lightOrange;
    padding-block: 5.2rem 8.5rem;

    .container-large {
      max-width: 80%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include var.breakpoint(1422px) {
        max-width: 90%;
      }
    }

    h2 {
      font-size: 4rem;
      font-weight: 400;
      font-family: var.$gallery;
      color: var.$gray;
      text-align: center;
      margin-bottom: 1.2rem;
    }

    p {
      text-align: center;
      font-size: 1.8rem;
      color: var.$gray;
      font-weight: var.$light;
      font-family: var.$avenirLight;
      max-width: 780px;
    }

    .lien-specifiques {
      margin-bottom: 5.3rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2.8rem;
      place-items: center;
      margin-top: 5.6rem;

      @include var.breakpoint(laptop) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include var.breakpoint(mobile) {
        grid-template-columns: 1fr;
      }

      a {
        font-size: 1.9rem;
        color: white;
        font-family: var.$normal;
        font-family: var.$avenirRegular;
        background: var.$mediumOrange;
        border-radius: 10px;
        border: 1px solid var.$mediumOrange;
        text-decoration: none;
        padding: 2.2rem 2rem;
        width: 100%;
        text-align: center;
        transition: 0.3s ease-in-out;

        &:hover {
          background: white;
          color: var.$mediumOrange;
        }
      }
    }
  }
}
