@use "../abstracts" as var;

.hero-banner {
  background: url("../img/banner.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 224px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -1;

  h1 {
    color: white;
    font-size: 4.6rem;
    font-weight: 400;
    font-family: var.$gallery;
    text-align: center;
  }

  .leaf-top {
    position: absolute;
    left: -2%;
    bottom: -31%;
    background: url("../img/top-leaf.svg") no-repeat;
    width: 216px;
    height: 245px;

    @include var.breakpoint(mobile) {
      display: none;
    }
  }
}

.content {
  margin-block: 3.9rem;
  .container {
    max-width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 376px;
    justify-items: center;
    align-items: start;
    column-gap: 2.2rem;

    @include var.breakpoint(laptop) {
      max-width: 85%;
    }

    @include var.breakpoint(tablet) {
      grid-template-columns: 1fr;
      row-gap: 2.2rem;
    }
  }

  h2 {
    font-size: 3.8rem;
    font-weight: var.$black;
    font-family: var.$avenirRegular;
    color: var.$mediumOrange;
    margin-bottom: 1rem;
  }

  .wp-block-image {
    margin-bottom: 2.9rem;

    img {
      border-radius: 38px;
    }

    &:not(:first-of-type) {
      margin-bottom: 4.3rem;
    }
  }

  p {
    font-weight: var.$light;
    font-family: var.$avenirLight;
  }

  h3 {
    margin-block: 1rem 2.9rem;
    font-family: var.$gallery;

    &:not(:first-of-type) {
      margin-top: 4.2rem;
    }
  }

  strong {
    font-weight: var.$black;
    font-family: var.$avenirRegular;
    margin-top: 2.9rem;
    display: flow-root;
  }

  ul {
    list-style: disc;
    margin-top: 2.9rem;
    margin-left: 4.9rem;

    strong {
      display: inline;
    }
  }

  aside {
    width: 100%;

    h4 {
      background: var.$mediumOrange;
      color: white;
      font-size: 1.8rem;
      font-weight: var.$black;
      font-family: var.$avenirRegular;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 3rem;
      padding-block: 2rem;
    }
  }

  .post-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2rem;

    @include var.breakpoint(tablet) {
      align-items: center;
    }

    .post {
      display: grid;
      grid-template-columns: 83px 1fr;
      grid-template-rows: 89px;
      gap: 0.8rem;
      max-height: 89px;

      .thumbnails,
      .thumbnails img,
      .thumbnails a {
        display: flow-root;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        text-decoration: none;
      }
    }

    .post__content {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
    }

    h5 {
      margin: 0;
    }

    h5 a {
      font-size: 1.6rem;
      font-weight: var.$black;
      font-family: var.$avenirRegular;
      color: var.$gray;
      text-decoration: none;
    }

    ul {
      list-style: none;
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 1.8rem;
      margin-block: 0.2rem 0.6rem;
      margin-inline: 0;

      @include var.breakpoint(mini) {
        margin-block: 0.2rem;
      }

      li {
        color: var.$mediumOrange;
        font-size: 1.4rem;
        font-weight: var.$light;
        font-family: var.$avenirLight;
      }
    }

    p {
      font-size: 1.4rem;
      font-weight: var.$light;
      font-family: var.$avenirLight;
      color: var.$gray;
    }
  }
}

.also-like {
  width: 100%;
  background: var.$lightOrange;
  padding-block: 3.5rem 10.5rem;

  .container {
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include var.breakpoint(1408px) {
      max-width: 85%;
    }
  }

  .post-same {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 6.5rem;
    place-items: center;

    @include var.breakpoint(1408px) {
      grid-template-columns: repeat(2, 400px);
    }

    @include var.breakpoint(tablet) {
      grid-template-columns: 400px;
    }

    @include var.breakpoint(410px) {
      grid-template-columns: 1fr;
    }
  }

  h3 {
    color: var.$mediumOrange;
    font-size: 3rem;
    font-weight: var.$black;
    font-family: var.$avenirRegular;
    text-align: center;
  }

  .post-content__post-same {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;

    @include var.breakpoint(mini) {
      flex-direction: column;
    }

    .img__post,
    .img__post a {
      width: 100%;
    }

    img {
      border-radius: 38px;
      width: 100%;
    }

    h4 {
      font-size: 2.4rem;
      font-weight: var.$black;
      font-family: var.$avenirRegular;
      color: var.$mediumOrange;
      margin-bottom: 1.6rem;

      @include var.breakpoint(mini) {
        text-align: center;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      justify-content: center;
      align-items: start;

      @include var.breakpoint(mini) {
        align-items: center;
        flex-direction: row;
        gap: 1.8rem;
      }

      li {
        font-size: 1.8rem;
        font-weight: var.$light;
        font-family: var.$avenirLight;
      }
    }
  }
}

#breadcrumbs {
  display: flex;
  justify-content: start;
  align-items: center;
  max-width: 70%;
  margin: 0 auto;
  margin-bottom: 0.7rem;

  @include var.breakpoint(879px) {
    max-width: 95%;
  }

  @include var.breakpoint(mini) {
    max-width: 100%;
  }

  & > span {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    color: var.$gray;
    font-size: 1.8rem;
    font-weight: var.$light;
    font-family: var.$avenirLight;
    opacity: 0.5;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

    @include var.breakpoint(680px) {
      font-size: 1.4rem;
    }

    &::after {
      content: "";
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: var.$mediumOrange;
      margin-inline: 0.8rem 1rem;
      opacity: 1;
    }

    &:hover {
      color: var.$mediumOrange;
    }
  }

  .breadcrumb_last {
    font-size: 1.8rem;
    font-weight: var.$light;
    font-family: var.$avenirLight;
    color: var.$gray;

    @include var.breakpoint(680px) {
      font-size: 1.4rem;
    }
  }
}
